


.news-app {
    display: flex;
    justify-content: center;
}

.news-item {
    width: 500px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}

.news-img {
    width: 400px;
}


.card {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  }


  .cardButton {
    border: none;
    border-radius: 10px;
    background-color: rgba(53, 16, 102, 0.678);
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 20px 0px;
  }